#vis-quadrant {
  .vis-hidden {
    opacity: 0;
  }
  .verticals .vertical,
  .quadrant-highlight {
    transition: opacity 0.3s ease-in-out;
  }
}

#vis-brand-discovery {
  max-width: 788px;

  .ban {
    font-family: MuseoModerno;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 119.965%; /* 115.167px */
    margin: 0;
  }
  .ban-label {
    color: var(--White, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.965%; /* 16.795px */
    margin: 0;
  }
}

.service-disruption-container {
  display: flex;
  align-items: center;
  gap: 4px;

  .service-disruption-number {
    /* when max number is 10, to achieve alignment of circles */
    /* flex-basis: 110px; */
    flex-basis: 70px;

    color: var(--Black, #04033a);
    leading-trim: both;
    text-edge: cap;
    font-family: MuseoModerno;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 119.965%; /* 115.167px */

    @media (max-width: 768px) {
      font-size: 72px;
      flex-basis: 50px;
    }
  }

  svg {
    margin-top: 3px;
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  .avg-text {
    color: var(--Black, #04033a);
    text-align: center;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.965%; /* 16.795px */
  }
}

.customer-relationships-container {
  svg {
    overflow: visible;
  }

  .axis-line {
    stroke: var(--Black, #04033a);
    mix-blend-mode: multiply;
    opacity: 0.4;
  }
  .axis-text {
    color: var(--Black, #04033a);
    mix-blend-mode: multiply;
    opacity: 0.4;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.965%; /* 16.795px */
  }
  .ban {
    color: var(--Black, #04033a);

    /* Big numbers */
    font-family: MuseoModerno;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 119.965%; /* 115.167px */

    @media (max-width: 768px) {
      font-size: 72px;
    }
  }

  .average-label {
    fill: var(--Black, #04033a);
    opacity: 0.4;
    mix-blend-mode: multiply;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.965%; /* 16.795px */
  }
}
